<div 
*ngFor="let m of mobiles;let i=index"
class="row mb-4" 
>
   <div class="card p-4">
  <div class="row">
    <div class="col-md-4 ">
        <figure>
            <img src="{{m.image}}" alt="mobile" title="mobile" class="img-fluid
            d-flex align-self-center">
        </figure>
    </div>
    <div class="col-md-8  mobInfo pl-4 sm-12 h-100vh"
    >
    <ul class="list-group cardUl">
        <li>
            <h5>
                {{m.specifications}}
               </h5>
           </li>
                <li>
                    <i class="fa-solid fa-star text-success"></i> 
                    <i class="fa-solid fa-star text-success"></i> 
                    <i class="fa-solid fa-star text-success"></i> 
                    <i class="fa-solid fa-star text-success"></i> 
                    <i class="fa-solid fa-star-half-stroke text-success"></i> 
                    {{m.rating}}
                </li>
           <li>
            <h3>
                <strong>{{m.name}}</strong>
            </h3>
           </li>
            <li>
                <span class="bg-success text-white p-2 d-inline">{{m.extraOff}}</span>
            </li>
            <div class="offer d-flex ">
              <li>
                <h3>
                    {{m.price}}
                </h3>
              </li>
                <li class="d-flex align-self-center ml-3">
                    <s>{{m.offer}}</s>
                </li>
                <li class="d-flex align-self-center ml-3 text-success">
                    {{m.percentOff}}
                </li>
            </div>
        </ul>
        <ul class="nav nav-pills mb-2">
            <li class="nav-item">
                <a href="javascrpit:;" class="nav-link "
                (click)="onClick($event)"
                data-id="coupen"
                [ngClass]="
                {
                    'active': prodInfo == 'coupen'
                }"
                >Coupens</a>
            </li>
            <li class="nav-item">
                <a href="javascrpit:;" class="nav-link"
                (click)="onClick($event)"
                data-id="specifications"
                [ngClass]="
                {
                    'active': prodInfo == 'specifications'
                }"
                >Features</a>
            </li>
            <li class="nav-item">
                <a href="javascrpit:;" class="nav-link"
                (click)="onClick($event)"
                data-id="more"
                [ngClass]="
                {
                    'active': prodInfo == 'more'
                }"
                >Info</a>
            </li>
        </ul>
            
                      <div class="card mb-2">
                        <div class="card-body"
                        *ngIf="prodInfo === 'coupen'"
                        >
                            <p>
                                <i class="fa-solid fa-tag text-success"></i> Bank OfferExtra ₹500 off on ICICI Bank Debit Card EMI Txns on Net Cart Value of ₹24,999 and aboveT&C
                               </p>
                                <p>
                                    <i class="fa-solid fa-tag text-success"></i>  Bank OfferExtra ₹500 off on Kotak Bank Credit Card EMI Txns on Net Cart Value of ₹24,999 and aboveT&C
                                </p>
                        </div>
                        <div class="card-body"
                        *ngIf="prodInfo === 'specifications'"
                        >
                            <ul>
                                <li>4 GB RAM | 64 GB RAM | 128 GB EXPANDABLE</li>
                                <li>64MP AI Rear Camera </li>
                                <li>48MP Front Camera</li>
                                <li>6.8inch HD+ IPS Display</li>
                                <li>Side Mounted Fingerprint Sensor</li>
                                <li>7000 mAh Massive Battery</li>
                            </ul>
                        </div>
                        <div class="card-body"
                        *ngIf="prodInfo === 'more'"
                        >
                       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis consequatur excepturi pariatur tempore eveniet dolor quam ipsa tenetur ad suscipit id aut, debitis repudiandae, quasi, quo a velit sunt neque.
                        </div>
                      </div>
                      

          
            <button type="button" class="btn btn-warning btn-lg mr-3 col-sm-mb-2 font-weight-bold"
            (click)="alertMsg()">
                <i class="fa-solid fa-cart-plus"></i>
                
                ADD TO CART</button>
            <button type="button" class="btn btn-warning btn-lg font-weight-bold"
            (click)="alertBuy()">
                <i class="fa-solid fa-bolt-lightning"></i>
                BUY NOW</button>
    </div>
  </div>
</div>


</div>


